<div *ngIf="gameService.round === -1">
	<h1>Card Setup: {{ player.shortName }}’s Turn</h1>
	<div id="cardRef"></div>
</div>
<div *ngIf="gameService.round === 0">
	<h1>Board Setup: {{ player.shortName }}’s Turn</h1>
	<div *ngIf="gameService.turnStep === 0">
		<button *ngIf="!tiles.length" (click)="draw3Tiles()">Draw 3 Tiles</button>
		<div *ngFor="let tile of tiles; let num = index" class="currentTile" [ngClass]="{'selected': tile === gameService.currentTile}"><span [ngStyle]="{'backgroundImage': tile.img, 'transform': 'rotate(' + tile.rotation + 'turn)'}" (click)="clickTile(num)"></span></div>
	</div>
</div>
<div *ngIf="gameService.round > 0">
	<h1>Round {{ gameService.round }}: {{ player.shortName }}’s Turn</h1>
	<div *ngIf="needToHeal">
		<h3>{{ player.shortName }} is wounded and must return to camp.</h3>
		<p><button (click)="healing.emit()">Continue</button></p>
	</div>
	<div *ngIf="gameService.turnStep === 0">
		<p><button *ngIf="!tiles.length" (click)="drawTile.emit(1)">Draw a Tile</button></p>
		<div *ngFor="let tile of tiles; let num = index" class="currentTile" [ngClass]="{'selected': tile === gameService.currentTile}"><span [ngStyle]="{'backgroundImage': tile.img, 'transform': 'rotate(' + tile.rotation + 'turn)'}" (click)="clickTile(num)"></span></div>
	</div>
	<div *ngIf="gameService.turnStep === 1">
		<h2>Move</h2>
	</div>
	<div *ngIf="gameService.turnStep === 2">
		<p *ngIf="!card"><button (click)="drawCard.emit(numToDraw)">Draw {{ numToDraw > 1 ? numToDraw + ' Cards' : 'a Card' }}</button></p>
	</div>
	<div *ngIf="gameService.turnStep === 4">
		<div *ngIf="gameService.midTurn && tiles.length" class="currentTile selected"><span [ngStyle]="{'backgroundImage': tiles[0].img, 'transform': 'rotate(' + tiles[0].rotation + 'turn)'}" (click)="rotateTile(tiles[0])"></span></div>
		<p *ngIf="gameService.midTurn && needToRoll && !dieValue"><button (click)="dieValue = dieRoll()">Roll a Die</button></p>
		<div *ngIf="gameService.midTurn && needToRoll && dieValue">
			<h1>{{ dieValue }}</h1>
			<h2 *ngIf="dieValue === 1 || dieValue === 2">Gain a Wound</h2>
			<h2 *ngIf="dieValue === 3 || dieValue === 4">Nothing Happens</h2>
			<h2 *ngIf="dieValue === 5 || dieValue === 6">Heal a Wound</h2>
			<p><button (click)="rolledDie.emit(dieValue); dieValue = 0">Continue</button></p>
		</div>
		<div *ngIf="card" class="currentCard">
			<hotm-card [card]="card"></hotm-card>
		</div>
	</div>
	<div *ngIf="gameService.turnStep === 5">
		<p *ngIf="player.XP.length"><button (click)="useXP.emit()">Use XP</button></p>
		<p *ngIf="!player.campLocation"><button (click)="moveCamp.emit()">Place Forward Camp</button></p>
		<p><button (click)="endTurn.emit()">End Turn</button></p>
	</div>
</div>
