:host {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.card {
	display: grid;
	grid-template-rows: 1fr 1fr;
	border-radius: 4.5%/3.25%;
	border: 2px solid #333;
	background: #EEE;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	opacity: 0.6;
	overflow: hidden;
	transform: scale(0.9);
	transition: 0.6s ease;
	&.selected {
		opacity: 1;
		transform: scale(1);
	}
}
.Event {
	text-align: center;
	box-shadow: inset 0 0 0 6px ghostwhite, inset 0 0 0 8px #333;
	grid-template-rows: 1fr;
}
.Starter {
	&.rotated {
		transform: rotate(180deg);
	}
	&.rotated:not(.selected) {
		transform: scale(0.9) rotate(180deg);
	}
	.cardTop {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		transform: rotate(180deg);
	}
}
.Heart {
	grid-template-rows: 1fr;
	text-align: center;
	section.cardTop {
		h1 { font-size: 2.5rem }
		p.cardText {
			width: 80%;
			text-align: center;
			font-size: 1.25rem;
			justify-self: center;
		}
		.attributes {
			align-self: center;
			justify-self: center;
			border-width: 0 1px 1px 0;
			border-style: solid;
			border-color: #333;
			p { display: none }
			dl dt, dl dd { font-size: 1.5rem }
		}
	}
}
section {
	display: grid;
	line-height: 0;
	text-align: center;
	&>* {
		line-height: normal;
	}
	&.cardTop {
		position: relative;
		background-position: center center;
		background-size: contain;
		p.cardText {
			margin: 0;
			padding: 0 0.5em;
			width: 35%;
			text-align: right;
			align-self: center;
			justify-self: end;
		}
		.attributes {
			flex-direction: column;
			align-self: flex-end;
			justify-self: end;
			p, dl {
				margin: 0;
				border-right-width: 0;
				border-bottom-width: 0;
			}
		}
		ul, li {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
	}
	&.cardBottom {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		border-top: 1px solid #333;
		background-position: center center;
		background-size: contain;
		&>div {
			&>p {
				margin: 0.25em 0 0;
				text-align: center;
			}
		}
		h2 {
			margin: 0 0.5em;
			font-size: 1.25em;
		}
	}
	h3 {
		margin: 0;
		line-height: 1.2;
	}
}
