:host {
	display: none;
	grid-template-rows: 1fr 1fr 1fr;
	grid-area: decks;
	align-items: center;
	justify-items: center;
	width: 100%;
	height: 60%;
	&>div {
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
	}
}
.deck {
	position: relative;
	top: -7px;
	left: -7px;
	width: 100%;
	height: 100%;
	border-radius: 4.5%/3.25%;
	border: 1px solid darkolivegreen;
	background: ghostwhite;
	box-shadow: 6px 6px 0 darken(darkolivegreen, 5%), 0 0 3px rgba(0,0,0,0.5), 6px 6px 3px rgba(0,0,0,0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	font: 6vh 'Luminari', fantasy;
	&:before {
		content: '';
		display: block;
		position: absolute;
		right: -6px;
		top: 0;
		width: 0;
		height: 0;
		border: 3px solid;
		border-color: transparent transparent darken(darkolivegreen, 5%) darken(darkolivegreen, 5%);
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: -6px;
		left: 0;
		width: 0;
		height: 0;
		border: 3px solid;
		border-color: darken(darkolivegreen, 5%) darken(darkolivegreen, 5%) transparent transparent;
	}
}
.emptyCards {
	position: relative;
	margin-left: 1em;
	width: 100%;
	height: 100%;
	border-radius: 4.5%/3.25%;
	border: 2px dashed darken(darkolivegreen, 10%);
	background: ghostwhite;
}
.discard {
	position: relative;
	top: -6px;
	left: -1px;
	width: 500%;
	height: 520%;
	transform: scale(0.205);
	transform-origin: top left;
}
#deck0, #deck4 { display: none }
#deck1>div { background-color: #DFD }
#deck2>div { background-color: #BDB }
#deck3>div { background-color: #9B9 }
