<hotm-player [player]="player" [playerNum]="gameService.currPlayer" [zoomed]="true" (useCard)="useCard()" class="player{{ gameService.currPlayer }} myTurn"></hotm-player>
<button *ngIf="gameService.turnStep === turnStepType.drawTile" (click)="draw3Cards()">Draw 3 Cards</button>
<h2 *ngIf="gameService.turnStep === turnStepType.preCombat">Click a card to select it. Click it again to rotate it. Click an item slot to assign the selected item to it.</h2>
<button *ngIf="gameService.turnStep === turnStepType.xpEnd" (click)="endTurn.emit()">End Turn</button>
<hotm-card *ngFor="let card of cards; let num = index" [ngClass]="{'hidden': card.cardType === cardType.blank}" [card]="card" [cardNum]="num" [selected]="selectedCards[num]" (selectMe)="selectCard($event)"></hotm-card>
