@import "../variables";

:host {
	display: grid;
	grid-template:
		'player1 player1 player3 player3' 20vh
		'current  board   board   decks'  60vh
		'player2 player2 player0 player0' 20vh
		/  1fr    auto    auto     1fr;
	background-color: #897;
	width: 100%;
	height: 100%;
}
#current {
	grid-area: current;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&>* {
		width: 100%;
		height: 45%;
	}
}
#currentTile {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	span {
		width: 70%;
		height: 0;
		padding-bottom: 70%;
		background-size: cover;
		border: 1px solid darkolivegreen;
		box-shadow: 0 0 3px rgba(0,0,0,0.5);
		transition: transform 0.8s ease-in-out;
	}
}
@for $playerNum from 1 through length($players) {
	hotm-player.player#{$playerNum - 1} {
		grid-area: player#{$playerNum - 1};
	}
}
