:host {
  margin: 1.5em;
  opacity: 0.6;
  transform: scale(0.9);
  transition: all 0.65s ease-in-out; }
  :host.player0 .charSheet {
    border: 1px solid darkviolet;
    background-color: #f2d3ff; }
    :host.player0 .charSheet .avatar img, :host.player0 .charSheet .XP {
      border: 1px solid darkviolet; }
    :host.player0 .charSheet .wounds p, :host.player0 .charSheet .items > div > p {
      border: 1px solid darkviolet;
      background-color: #e6aaff; }
    :host.player0 .charSheet .wounds .card > p + p, :host.player0 .charSheet .items .card > p:first-child {
      background-color: darkviolet; }
    :host.player0 .charSheet .wounds .card > p:first-child {
      background-color: ghostwhite; }
  :host.player0.newItem .charSheet .items > div > p:first-child {
    animation-name: player0_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  :host.player0.newItem .charSheet .items > div.nocard > p:first-child {
    animation-name: player0_nocard_animation; }
  :host.player1 .charSheet {
    border: 1px solid #15C;
    background-color: #e0eafc; }
    :host.player1 .charSheet .avatar img, :host.player1 .charSheet .XP {
      border: 1px solid #15C; }
    :host.player1 .charSheet .wounds p, :host.player1 .charSheet .items > div > p {
      border: 1px solid #15C;
      background-color: #bad1f9; }
    :host.player1 .charSheet .wounds .card > p + p, :host.player1 .charSheet .items .card > p:first-child {
      background-color: #15C; }
    :host.player1 .charSheet .wounds .card > p:first-child {
      background-color: ghostwhite; }
  :host.player1.newItem .charSheet .items > div > p:first-child {
    animation-name: player1_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  :host.player1.newItem .charSheet .items > div.nocard > p:first-child {
    animation-name: player1_nocard_animation; }
  :host.player2 .charSheet {
    border: 1px solid darkgoldenrod;
    background-color: #fcecc6; }
    :host.player2 .charSheet .avatar img, :host.player2 .charSheet .XP {
      border: 1px solid darkgoldenrod; }
    :host.player2 .charSheet .wounds p, :host.player2 .charSheet .items > div > p {
      border: 1px solid darkgoldenrod;
      background-color: #f9dfa0; }
    :host.player2 .charSheet .wounds .card > p + p, :host.player2 .charSheet .items .card > p:first-child {
      background-color: darkgoldenrod; }
    :host.player2 .charSheet .wounds .card > p:first-child {
      background-color: ghostwhite; }
  :host.player2.newItem .charSheet .items > div > p:first-child {
    animation-name: player2_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  :host.player2.newItem .charSheet .items > div.nocard > p:first-child {
    animation-name: player2_nocard_animation; }
  :host.player3 .charSheet {
    border: 1px solid firebrick;
    background-color: #f8dbdb; }
    :host.player3 .charSheet .avatar img, :host.player3 .charSheet .XP {
      border: 1px solid firebrick; }
    :host.player3 .charSheet .wounds p, :host.player3 .charSheet .items > div > p {
      border: 1px solid firebrick;
      background-color: #f2b9b9; }
    :host.player3 .charSheet .wounds .card > p + p, :host.player3 .charSheet .items .card > p:first-child {
      background-color: firebrick; }
    :host.player3 .charSheet .wounds .card > p:first-child {
      background-color: ghostwhite; }
  :host.player3.newItem .charSheet .items > div > p:first-child {
    animation-name: player3_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  :host.player3.newItem .charSheet .items > div.nocard > p:first-child {
    animation-name: player3_nocard_animation; }
  :host.myTurn {
    opacity: 1;
    transform: scale(1); }
  :host .charSheet.zoomed .itemCard h1 {
    font-size: 1.25em; }
  :host .charSheet.zoomed .itemCard h2 {
    font-size: 1.1em; }
  :host .charSheet.zoomed .itemCard h3 {
    font-size: 1em; }

.charSheet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }
  .charSheet .avatar {
    display: flex;
    align-items: center;
    justify-content: center; }
    .charSheet .avatar img {
      width: 3em;
      height: 3em; }
    .charSheet .avatar h3 {
      padding-left: 0.5em; }
  .charSheet .XP {
    display: grid;
    place-content: center;
    font-size: 2rem;
    border-radius: 4.5%/3.25%;
    background-color: ghostwhite;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transform: scale(0.8); }
  .charSheet .wounds, .charSheet .items {
    display: flex;
    justify-content: space-around;
    grid-column: 1 / 4; }
    .charSheet .wounds > div, .charSheet .items > div {
      position: relative;
      margin: 0;
      width: 23%; }
    .charSheet .wounds p, .charSheet .items p {
      margin: 0;
      text-align: center;
      border-radius: 0 0 10px 10px; }
  .charSheet .wounds {
    margin-top: calc(-1.3em - 1px); }
    .charSheet .wounds .nocard > p:first-child {
      visibility: hidden; }
    .charSheet .wounds .card > p:first-child {
      background-color: ghostwhite;
      border-radius: 10px 10px 0 0;
      box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 -1px 1px rgba(0, 0, 0, 0.3); }
    .charSheet .wounds .card > p + p {
      color: ghostwhite; }
  .charSheet .items {
    justify-content: center; }
    .charSheet .items p:first-child {
      border-radius: 10px 10px 0 0; }
    .charSheet .items .card > p:first-child {
      color: ghostwhite; }
  .charSheet .itemCard {
    position: absolute;
    left: 0;
    right: 0;
    height: 4.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: ghostwhite;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
    z-index: 0; }
    .charSheet .itemCard h1, .charSheet .itemCard h2, .charSheet .itemCard h3, .charSheet .itemCard p {
      margin: 0 2.5em;
      text-align: center;
      font-size: 1em;
      text-shadow: 1px 0 0 ghostwhite, -1px 0 0 ghostwhite, 0 1px 0 ghostwhite, -1px 0 0 ghostwhite; }
    .charSheet .itemCard h1 {
      white-space: nowrap; }
    .charSheet .itemCard h2, .charSheet .itemCard p {
      font-size: 0.8em; }
    .charSheet .itemCard h2 span {
      display: none; }
  .charSheet .leftGem, .charSheet .rightGem {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2.5em;
    padding: 0.5em 0;
    filter: drop-shadow(1px 0 0 #333);
    z-index: -1; }
    .charSheet .leftGem > div, .charSheet .rightGem > div {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: #E3E3E9;
      border: 1px solid #333;
      border-width: 1px 0;
      clip-path: polygon(0 0, 50% 0, 90% 50%, 50% 100%, 0 100%); }
      .charSheet .leftGem > div > div:not(.leftGemAttr), .charSheet .rightGem > div > div:not(.leftGemAttr) {
        width: 85%;
        padding-left: 2px;
        font-size: 14px; }
  .charSheet .leftGemAttr {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1px;
    width: 100%;
    height: 100%;
    background-color: #999; }
    .charSheet .leftGemAttr > div {
      width: 100%;
      height: 100%;
      background-color: ghostwhite; }
    .charSheet .leftGemAttr .leftGemBrains {
      background-color: lightblue; }
    .charSheet .leftGemAttr .leftGemBrawn {
      background-color: yellow; }
    .charSheet .leftGemAttr .leftGemBravado {
      background-color: lightpink; }
  .charSheet .rightGem {
    left: auto;
    right: 0;
    filter: drop-shadow(-1px 0 0 #333); }
    .charSheet .rightGem > div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      clip-path: polygon(100% 0, 50% 0, 10% 50%, 50% 100%, 100% 100%); }
      .charSheet .rightGem > div h1 {
        margin: 0;
        padding: 0 0.15em;
        font-size: 1.25em;
        font-family: Luminari, fantasy; }

/*# sourceMappingURL=player.component.css.map */
