:host {
	margin: 1.5em;
	&#player0 {
		grid-area: player0;
		align-self: end;
	}
	&#player1 {
		grid-area: player1;
	}
	&#player2 {
		grid-area: player2;
		align-self: end;
	}
	&#player3 {
		grid-area: player3;
	}
}
.charSheet {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	background-color: #EEE;
	border: 1px solid black;

	.avatar {
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			width: 3em;
			height: 3em;
			border: 1px solid darkblue;
		}
		h3 {
			padding-left: 0.5em;
		}
	}

	.wounds, .items {
		display: flex;
		justify-content: space-around;
		grid-column: 1 / 4;
		&>div {
			margin: 0;
			width: 25%;
		}
		p {
			margin: 0;
			text-align: center;
			border: 1px solid black;
			border-radius: 0 0 10px 10px;
			background-color: #E3E3E9;
		}
	}
	.wounds {
		margin-top: calc(-1.3em - 1px);
		.nocard>p:first-child { visibility: hidden }
		.card>p:first-child {
			background-color: ghostwhite;
			border-radius: 10px 10px 0 0;
		}
		.card>p+p {
			color: ghostwhite;
			background-color: darkred;
		}
	}
	.items {
		justify-content: center;
		&>div {
			position: relative;
			width: 23%;
		}
		p:first-child { border-radius: 10px 10px 0 0 }
		.card>p:first-child {
			color: ghostwhite;
			background-color: darkgreen;
		}
		.nocard>p+p { visibility: hidden }
		p+p {
			position: absolute;
			left: 0; right: 0;
			background-color: ghostwhite;
		}
	}

}
