<div class="charSheet" *ngIf="player">
	<div class="wounds">
		<div *ngFor="let wound of player.wounds" class="{{ wound === blank ? 'nocard' : 'card' }}" (click)="gainWound(card)">
			<p>{{ wound.cardName }}</p><p>Wound</p>
		</div>
	</div>
	<div class="avatar">
		<img src="assets/characters/{{ player.headshot }}">
		<h3>{{ player.name }}</h3>
	</div>
	<div>
		<p>{{ player.description }}</p>
		<p><strong>{{ player.powerName }}</strong><br>
		{{ player.powerDescription }}</p>
	</div>
	<div class="attributes">
		<dl>
			<dt [innerHTML]="player.displayStats.Brains" ></dt><dd>Brains</dd>
			<dt [innerHTML]="player.displayStats.Brawn"  ></dt><dd>Brawn</dd>
			<dt [innerHTML]="player.displayStats.Bravado"></dt><dd>Bravado</dd>
		</dl>
	</div>
	<div class="items">
		<div *ngFor="let item of player.items; let num = index" class="{{ item === blank ? 'nocard' : 'card' }}" (click)="gainItem(card, num)">
			<p>Item</p><p>{{ item.itemName }}</p>
		</div>
	</div>
</div>
