<hotm-card [card]="card" [selected]="true"></hotm-card>
<div class="actions" *ngIf="card.cardType !== cardType.event">
	<div>
		<strong>{{ cardStatsString }} {{ cardTotal }}</strong>
		<strong>{{ cardBonusString }}</strong>
	</div>
	<div>
		<p *ngIf="!playerRoll">
			<button *ngIf="card.cardType === cardType.enemy" (click)="fightCard()">Fight Enemy</button>
			<button *ngIf="card.cardType === cardType.trap" (click)="fightCard()">Disarm Trap</button>
			<button *ngIf="card.cardType === cardType.heart" (click)="fightCard()">Battle Dragon</button>
		</p>
		<p *ngIf="playerRoll && !playerWin">
			<button (click)="lostFight()">You Lose!</button>
		</p>
		<p *ngIf="playerWin">
			<strong>You Win!</strong>
			<button *ngIf="!newItem && card.cardType !== cardType.heart" (click)="newItem = true">Take Item</button>
			<button *ngIf="!newItem && card.cardType !== cardType.heart" (click)="saveForXP()">Save for XP</button>
			<button *ngIf="card.cardType === cardType.heart" (click)="gameService.turnStep = 10">Close</button>
		</p>
	</div>
	<div>
		<strong>{{ playerStatsString }} {{ playerTotal }}</strong>
		<strong [ngClass]="{'hidden': !playerRoll}">{{ playerRollString }}</strong>
	</div>
</div>
<div class="actions" *ngIf="card.cardType === cardType.event">
	<p>
		<button (click)="doEvent.emit()">Close</button>
	</p>
</div>
<hotm-player [player]="player" [playerNum]="playerNum" [zoomed]="true" class="player{{ playerNum }} myTurn" [gainingItem]="newItem" (wounded)="wounded.emit()" (discardCard)="discardCard.emit($event)" (useCard)="useCard.emit($event)" (cardPower)="useItemPower($event)"></hotm-player>
