:host {
	position: fixed;
	top: 1em;
	right: 1em;
	bottom: 1em;
	left: 1em;
	display: grid;
	grid-template-rows: 3fr 1fr 2fr;
	background-color: lightslategrey;
	border: 1px solid darkslategrey;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	z-index: 10;

	.actions {
		display: flex;
		align-items: center;
		justify-content: space-around;
		strong {
			display: block;
			margin: 0;
			font-size: 2em;
			text-align: right;
		}
		p, div:nth-child(2) strong {
			text-align: center;
			button {
				margin: 0.25em;
				font-size: 2em;
			}
		}
	}

	hotm-player { align-self: center }
}
