<hotm-card [card]="card"></hotm-card>
<div class="actions" *ngIf="card.cardType !== cardType.event">
	<div>
		<strong>{{ cardStatsString }} {{ cardTotal }}</strong>
		<strong [ngClass]="{'hidden': !cardRoll}">{{ cardRollString }}</strong>
	</div>
	<div>
		<p *ngIf="!playerRoll">
			<button *ngIf="card.cardType === cardType.enemy" (click)="fightCard()">Fight Enemy</button>
			<button *ngIf="card.cardType === cardType.trap" (click)="fightCard()">Disarm Trap</button>
		</p>
		<p *ngIf="playerRoll && !playerWin">
			<button (click)="lostFight()">You Lose!</button>
		</p>
		<p *ngIf="playerRoll && playerWin">
			<strong>You Win!</strong>
			<button (click)="takeItem()">Take Item</button>
			<button (click)="saveForXP()">Save for XP</button>
		</p>
	</div>
	<div>
		<strong>{{ playerStatsString }} {{ playerTotal }}</strong>
		<strong [ngClass]="{'hidden': !playerRoll}">{{ playerRollString }}</strong>
	</div>
</div>
<div class="actions" *ngIf="card.cardType === cardType.event">
	<strong>Events are coming soon...</strong>
	<button (click)="useCard.emit(card)">Close</button>
</div>
<hotm-player [player]="player" [playerNum]="playerNum" [zoomed]="true" class="player{{ playerNum }} myTurn" [ngClass]="{'newItem': newItem}" [gainingItem]="newItem"></hotm-player>
