:host {
	position: fixed;
	top: 1em;
	right: 1em;
	bottom: 1em;
	left: 1em;
	display: grid;
	grid-template-rows: 3fr 1fr 2fr;
	background-color: lightslategrey;
	border: 1px solid darkslategrey;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	z-index: 10;

	.actions {
		display: grid;
		justify-items: center;
		h1 { margin: 0 }
		p {
			text-align: center;
			button { font-size: 2em }
		}
	}

	hotm-player { align-self: center }
}
