@font-face {
  font-family: 'Luminari';
  font-style: normal;
  font-weight: normal;
  src: local("Luminari"), url("assets/fonts/Luminari-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Averia';
  font-style: normal;
  font-weight: normal;
  src: local("Averia Serif Libre Light"), url("assets/fonts/Averia-Serif-Libre-Light.ttf.woff") format("woff"); }
@keyframes pulse_animation {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  70% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
@keyframes player0_animation {
  0% {
    background-color: darkviolet;
    color: ghostwhite; }
  50% {
    background-color: #e6aaff;
    color: black; }
  100% {
    background-color: darkviolet;
    color: ghostwhite; } }
@keyframes player0_nocard_animation {
  0% {
    background-color: #e6aaff;
    color: black; }
  50% {
    background-color: darkviolet;
    color: ghostwhite; }
  100% {
    background-color: #e6aaff;
    color: black; } }
@keyframes player1_animation {
  0% {
    background-color: darkgoldenrod;
    color: ghostwhite; }
  50% {
    background-color: #f9dfa0;
    color: black; }
  100% {
    background-color: darkgoldenrod;
    color: ghostwhite; } }
@keyframes player1_nocard_animation {
  0% {
    background-color: #f9dfa0;
    color: black; }
  50% {
    background-color: darkgoldenrod;
    color: ghostwhite; }
  100% {
    background-color: #f9dfa0;
    color: black; } }
@keyframes player2_animation {
  0% {
    background-color: #15C;
    color: ghostwhite; }
  50% {
    background-color: #bad1f9;
    color: black; }
  100% {
    background-color: #15C;
    color: ghostwhite; } }
@keyframes player2_nocard_animation {
  0% {
    background-color: #bad1f9;
    color: black; }
  50% {
    background-color: #15C;
    color: ghostwhite; }
  100% {
    background-color: #bad1f9;
    color: black; } }
@keyframes player3_animation {
  0% {
    background-color: firebrick;
    color: ghostwhite; }
  50% {
    background-color: #f2b9b9;
    color: black; }
  100% {
    background-color: firebrick;
    color: ghostwhite; } }
@keyframes player3_nocard_animation {
  0% {
    background-color: #f2b9b9;
    color: black; }
  50% {
    background-color: firebrick;
    color: ghostwhite; }
  100% {
    background-color: #f2b9b9;
    color: black; } }
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #897;
  font: 16px/1.3 'Averia', Garamond, serif;
  hyphens: auto;
  hyphenate-limit-last: always; }

body {
  position: relative;
  margin: auto;
  padding: 0;
  width: 100%;
  min-width: 1200px;
  max-width: 1800px;
  height: 100%;
  min-height: 1024px;
  max-height: 1400px;
  overflow: auto; }

.attributes {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .attributes dl {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1px;
    margin: 0.5em;
    background-color: #333;
    border: 1px solid #333; }
    .attributes dl dt, .attributes dl dd {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0 0.5em;
      border: 0;
      background-color: ghostwhite;
      font-size: 1.2rem;
      line-height: 1.4;
      font-weight: bold; }
    .attributes dl dt {
      font-family: Luminari, fantasy; }
      .attributes dl dt.modified {
        font-style: italic; }
    .attributes dl .unused {
      background-color: ghostwhite;
      color: #666; }

section .leftGem, section .rightGem {
  position: absolute;
  left: 0;
  top: 32.5%;
  width: 20%;
  height: 35%;
  filter: drop-shadow(1px 0 0 #333); }
  section .leftGem > div, section .rightGem > div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #E3E3E9;
    border-width: 1px 0;
    border-style: solid;
    border-color: #333;
    clip-path: polygon(0 0, 50% 0, 90% 50%, 50% 100%, 0 100%); }
    section .leftGem > div > div:not(.leftGemAttr), section .rightGem > div > div:not(.leftGemAttr) {
      width: 85%;
      padding-left: 7px;
      font-size: 20px;
      text-align: left; }
section .leftGemAttr {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1px;
  width: 100%;
  height: 100%;
  background-color: #999; }
  section .leftGemAttr > div {
    width: 100%;
    height: 100%;
    background-color: ghostwhite;
    border: 0; }
section .rightGem {
  left: auto;
  right: 0;
  filter: drop-shadow(-1px 0 0 #333); }
  section .rightGem > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    clip-path: polygon(100% 0, 50% 0, 10% 50%, 50% 100%, 100% 100%); }
    section .rightGem > div h1 {
      margin: 0;
      padding: 0 0.15em;
      font-size: 2.75em;
      font-family: Luminari, fantasy; }
section.equippedItem h2.itemText, section.equippedItem p {
  margin: 0;
  font-size: 0.8em;
  text-align: center; }
section.equippedItem .leftGem, section.equippedItem .rightGem {
  top: 0;
  bottom: 0;
  width: 2.5em;
  height: auto;
  padding: 0.5em 0;
  z-index: -10; }
  section.equippedItem .leftGem > div > div:not(.leftGemAttr), section.equippedItem .rightGem > div > div:not(.leftGemAttr) {
    padding-left: 1px;
    font-size: 10px; }
section.equippedItem .rightGem > div h1 {
  margin: 0;
  font-size: 1.25em; }
section.equippedItem .brains, section.equippedItem .brawn, section.equippedItem .bravado {
  padding: 0 0.5em;
  font-size: 1em; }

.pulse {
  animation-name: pulse_animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.visible {
  visibility: visible; }

.hidden {
  visibility: hidden; }

.brains {
  background-color: lightblue !important; }

.brawn {
  background-color: yellow !important; }

.bravado {
  background-color: lightpink !important; }

.brains, .brawn, .bravado {
  margin: 0;
  padding: 0 1em;
  border: 1px solid darkgray;
  border-bottom: 0; }

@media all and (max-width: 1500px) {
  html, body {
    font-size: 14px; } }
@media all and (max-width: 1370px) {
  html, body {
    font-size: 12px; } }

/*# sourceMappingURL=styles.css.map */
