@import "variables";

@font-face {
	font-family: 'Luminari';
	font-style: normal;
	font-weight: normal;
	src: local('Luminari'), url('assets/fonts/Luminari-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Averia';
	font-style: normal;
	font-weight: normal;
	src: local('Averia Serif Libre Light'), url('assets/fonts/Averia-Serif-Libre-Light.ttf.woff') format('woff');
}
@keyframes pulse_animation {
	  0% { transform: scale(1) }
	 30% { transform: scale(1) }
	 50% { transform: scale(1.2) }
	 70% { transform: scale(1) }
	100% { transform: scale(1) }
}

@for $playerNum from 1 through length($players) {
	@keyframes player#{$playerNum - 1}_animation {
		  0% { background-color: nth($players, $playerNum); color: ghostwhite }
		 50% { background-color: lighten(nth($players, $playerNum), 42%); color: black }
		100% { background-color: nth($players, $playerNum); color: ghostwhite }
	}
	@keyframes player#{$playerNum - 1}_nocard_animation {
		  0% { background-color: lighten(nth($players, $playerNum), 42%); color: black }
		 50% { background-color: nth($players, $playerNum); color: ghostwhite }
		100% { background-color: lighten(nth($players, $playerNum), 42%); color: black }
	}
}

html {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: #897;
	font: 16px/1.3 'Averia', Garamond, serif;
	hyphens: auto;
	hyphenate-limit-last: always;
}
body {
	position: relative;
	margin: auto;
	padding: 0;
	width: 100%;
	min-width: 1200px;
	max-width: 1800px;
	height: 100%;
	min-height: 1024px;
	max-height: 1400px;
	overflow: auto;
}

.attributes {
	display: flex;
	align-items: center;
	justify-content: space-around;

	dl {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-gap: 1px;
		margin: 0.5em;
		background-color: #333;
		border: 1px solid #333;

		dt, dd {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0;
			padding: 0 0.5em;
			border: 0;
			background-color: ghostwhite;
			font-size: 1.2rem;
			line-height: 1.4;
			font-weight: bold;
		}
		dt {
			font-family: Luminari, fantasy;
			&.modified { font-style: italic }
		}
		.unused { background-color: ghostwhite; color: #666 }
	}
}

section {
	.leftGem, .rightGem {
		position: absolute;
		left: 0;
		top: 32.5%;
		width: 20%;
		height: 35%;
		filter: drop-shadow(1px 0 0 #333);
		&>div {
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			background-color: #E3E3E9;
			border-width: 1px 0;
			border-style: solid;
			border-color: #333;
			clip-path: polygon(0 0, 50% 0, 90% 50%, 50% 100%, 0 100%);
			&>div:not(.leftGemAttr) {
				width: 85%;
				padding-left: 7px;
				font-size: 20px;
				text-align: left;
			}
		}
	}
	.leftGemAttr {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 1px;
		width: 100%;
		height: 100%;
		background-color: #999;
		&>div {
			width: 100%;
			height: 100%;
			background-color: ghostwhite;
			border: 0;
		}
	}
	.rightGem {
		left: auto;
		right: 0;
		filter: drop-shadow(-1px 0 0 #333);
		&>div {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			clip-path: polygon(100% 0, 50% 0, 10% 50%, 50% 100%, 100% 100%);
			h1 {
				margin: 0;
				padding: 0 0.15em;
				font-size: 2.75em;
				font-family: Luminari, fantasy;
			}
		}
	}
	&.equippedItem {
		h2.itemText, p {
			margin: 0;
			font-size: 0.8em;
			text-align: center;
		}
		.leftGem, .rightGem {
			top: 0;
			bottom: 0;
			width: 2.5em;
			height: auto;
			padding: 0.5em 0;
			z-index: -10;
			&>div>div:not(.leftGemAttr) {
				padding-left: 1px;
				font-size: 10px;
			}
		}
		.rightGem>div h1 {
			margin: 0;
			font-size: 1.25em;
		}
		.brains, .brawn, .bravado {
			padding: 0 0.5em;
			font-size: 1em;
		}
	}
}

.pulse {
	animation-name: pulse_animation;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.visible { visibility: visible }
.hidden { visibility: hidden }
.brains { background-color: $brains !important }
.brawn { background-color: $brawn !important }
.bravado { background-color: $bravado !important }
.brains.unused, .brawn.unused, .bravado.unused { background-color: ghostwhite !important }
.brains, .brawn, .bravado {
	margin: 0;
	padding: 0 1em;
	border: 1px solid darkgray;
	border-bottom: 0;
}

@media all and (max-width: 1500px) {
	html, body {
		font-size: 14px;
	}
}
@media all and (max-width: 1370px) {
	html, body {
		font-size: 12px;
	}
}
