:host {
	display: grid;
	grid-template-rows: 0 repeat(14, 1fr) 0;
	grid-template-columns: 0 repeat(14, 1fr) 0;
	grid-gap: 1px;
	background-color: darkolivegreen;
	width: 70vmin;
	height: 70vmin;
	border: 3px ridge beige;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	grid-area: board;
	align-self: center;
	justify-self: center;

	&>div {
		&.level1 { background-color: #E0FFE0; }
		&.level2 { background-color: #C0DDC0; }
		&.level3 { background-color: #A0BBA0; }
		&:not(.tile) p {
			display: none;
		}
	}
}
div.tile {
	position: relative;
	box-sizing: border-box;
	background-color: transparent;
	transform: scale(1.025);
	.bg {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-size: cover;
		transition: transform 0.8s ease-in-out;
	}
	p {
		margin: 0;
		font: 2em/0.9 Consolas;
		background: rgba(252,252,252,0.25);
		border-radius: 0.5em;
		text-shadow: -0.5px -0.5px 0.5px white, -0.5px 0.5px 0.5px white, 0.5px -0.5px 0.5px white, 0.5px 0.5px 0.5px white;
		cursor: default;
	}
}
div.valid {
	border: 6px solid orange;
}
button {
	position: fixed;
	left: 1rem;
	top: 85vh;
	font: 16px Averia;
}
