@import "../../../variables";

:host {
	display: grid;
	grid-template-rows: 0 repeat(14, 1fr) 0;
	grid-template-columns: 0 repeat(14, 1fr) 0;
	grid-gap: 1px;
	background-color: darkolivegreen;
	width: 60vmin;
	height: 60vmin;
	border: 3px ridge beige;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	grid-area: board;
	align-self: center;
	justify-self: center;

	&>div {
		&.level1 { background-color: #E0FFE0; }
		&.level2 { background-color: #C0DDC0; }
		&.level3 { background-color: #A0BBA0; }
		&:not(.tile) p {
			display: none;
		}
	}
	@for $playerNum from 1 through length($players) {
		&.player#{$playerNum - 1}>div.valid { border: 6px solid #{nth($players, $playerNum)}; }
	}
}
div.tile {
	position: relative;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	transform: scale(1.025);
	.bg {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-size: cover;
		transition: transform 0.8s ease-in-out;
	}
	p {
		margin: 0;
		font: 2em/0.9 Consolas;
		background: rgba(252,252,252,0.25);
		border-radius: 0.5em;
		text-shadow: -0.5px -0.5px 0.5px white, -0.5px 0.5px 0.5px white, 0.5px -0.5px 0.5px white, 0.5px 0.5px 0.5px white;
		cursor: default;
	}
}
.avatar {
	position: absolute;
	z-index: 10;
	width: 1.75em;
	height: 1.75em;
	margin: 0;
	border: 1px solid dimgrey;
	box-shadow: 0 0 3px rgba(0,0,0,0.5), inset 0 0 3px rgba(255,255,255,0.5);
	transition: all 0.8s ease-in-out;
	@for $playerNum from 1 through length($players) {
		&:nth-of-type(#{$playerNum}) { background-color: #{nth($players, $playerNum)}; }
	}
}
.tilePiles {
	position: absolute;
	top: 50%;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	.emptyTiles {
		width: 35%;
		height: 0;
		margin-left: 1em;
		padding-bottom: 35%;
		border: 2px dashed #333;
		background-color: transparentize(ghostwhite, 0.6);
	}
	.tiles {
		position: relative;
		top: -3px;
		left: -3px;
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		background-color: ghostwhite;
		display: flex;
		justify-content: center;
		box-shadow: 6px 6px 0 #666, 0 0 3px rgba(0,0,0,0.5), 6px 6px 3px rgba(0,0,0,0.5);
		&:before {
			content: '';
			display: block;
			position: absolute;
			right: -6px;
			top: 0;
			width: 0;
			height: 0;
			border: 3px solid #666;
			border-color: transparent transparent #666 #666;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: -6px;
			left: 0;
			width: 0;
			height: 0;
			border: 3px solid #666;
			border-color: #666 #666 transparent transparent;
		}
		h6 {
			font-size: 4vh;
			margin: 25%;
		}
	}
	.discard {
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		span {
			display: block;
			width: 100%;
			height: 0;
			padding-bottom: 100%;
			background-size: contain;
		}
	}
}
